<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>快乐十分，有奖竞答</title>
    <link rel="stylesheet" href="./css/base.css">
</head>

<body>
    <div class="container" id="app" data-page="answer" v-show="mainShow">
        <div class="back">
            <a href="javascript:history.go(-1)"><img src="./images/back.png" alt="" width="45%"></a>
        </div>
        <div class="rule_top">
            <img src="./images/answer_top.png" alt="" width="100%">
        </div>
        <div class="questions">
            <div class="question" v-for="(q, i) in questions">
                <div class="q_title">
                    <p>{{i+1}}、{{q.question}}</p>
                </div>
                <div class="q_option">
                    <ul>
                        <li v-for="(o, j) in q.options" :class="q.selected == j ? 'active' : ''">
                            <input type="radio" :name="i" :id="o.id" :value="j" v-model="q.selected">
                            <i></i>
                            <label :for="o.id" v-text="o.txt"></label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="submit">
            <p>
                <button @click="submit">提交</button>
            </p>
        </div>
        <div class="backup" v-show="popupCont.show" @click="popupCont.show = !popupCont.show"></div>
        <my-popup :popup-cont="popupCont"></my-popup>
    </div>

    <script src="./js/vue.min.js"></script>
    <script src="./js/base.js"></script>
</body>

</html>